.race__event {
  border-top: 1px solid #ebedf5;
  font-size: 12px;
}

.race__event a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.race__event--detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.4;
  padding: 0 5px;
}

.race__event--detail .race__venue {
  color: #243a80;
}

.race__event--detail .race__rc {
  color: #afafaf;
}

.race__timer--tick {
  margin-left: auto;
}

.start__left {
  color: #dc0000;
}

.start__timer {
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  white-space: nowrap;
}

.race__icon--type {
  color: #232539;
  height: 32px;
  width: 32px;
}
